html, body {
  overflow-x: hidden;
}

body {
  max-width: 100vw;
}

/* Add to your global CSS or component */
input, textarea {
  color: #294a70 !important; /* gray-900 */
}

input::placeholder, textarea::placeholder {
  color: #6b7280 !important; /* gray-500 */
}


/* From Uiverse.io by doniaskima */ 
/*CSS kod za READ MORE button */

.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-31 {
  -webkit-tap-highlight-color: transparent;
  appearance: button;
  background-color: #ffab1f;
  background-image: none;
  color: #ffffff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  mask-image: radial-gradient(#000, #fff);
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-31:hover {
  background-color: #294a70;
  color: #ffffff;
}

.btn-31:disabled {
  cursor: default;
}

.btn-31:-moz-focusring {
  outline: auto;
}

.btn-31 svg {
  display: block;
  display: inline-flex;
  align-items: center;
}

.btn-31 [hidden] {  
  display: none;
}

.btn-31 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  padding: 1rem 2rem;
  position: relative;
  text-transform: uppercase;
  width: 300px;
  min-width: 180px;
  margin: auto;
}

.btn-31:before {
  --progress: 100%;
  background: #fff;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
  --progress: 0%;
}

.btn-31 .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-31 .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-31:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}


/* Mobile Responsiveness */
@media (max-width: 950px) {
  .aktu-cards,
  .editorial-content {
    flex-direction: column;
    align-items: center;
    width: 98vw;
    gap: 22px;
  }
  .editorial-image img {
    width: 88vw;
    min-width: 120px;
    max-width: 250px;
  }
}
